.ant-btn:hover {
  background-color: #f3d0ef;
  color: $at-color-pink;
}

.ant-card-meta-title {
  color: $at-color-pink;
}

.ant-popover-inner {
  border-radius: 8px;
}

.ant-dropdown-menu {
  border-radius: 8px;
}

// .ant-btn {
//   background-color: rgb(211, 166, 207);
// }

.ant-card-cover img {
  height: 250px;
  max-height: 250px;
}